<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>reports</title>
  <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>

  <section class="hero-section">
    <div class="container">
      <h1 class="title">IIE Issues</h1>
      <hr class="divider">
      <p class="description">
        A dedicated platform for students and staff to quickly 
        report technical and campus issues. From computer problems
         to general maintenance, raise a request here for fast 
         resolution.

      </p>
      <div class="button-group">

    

<a href="{{ url_for('login') }}" class="btn btn-outline">Student Login</a>
<a href="{{ url_for('login') }}" class="btn btn-solid">Admin Login</a>


 </div>
    </div>
  </section>

</body>
</html>

